body {
  background-color: beige;
  text-align: center;
}

h1 {
  text-align: center;
  color: #990000;
}

.container {
  overflow: auto;
}

.filterDiv {
  float: left;
  background-color: #990000;
  color: white;
  width: 150px;
  line-height: 50px;
  text-align: center;
  margin: 8px ;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
  flex-direction: row;
}

/* Button style */
.btn {
  background-color: transparent;
  border: solid #990000 2px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  color: #990000;
  height: 40px;
  width: 100px;
  cursor: pointer;
}

/* White background on mouse-over to show whta will be selected if clicked*/
.btn:hover {
  background-color: #990000;
  color: white;
  transition-duration: 500ms;
}

/* When clicked on the button will have a distinguished background*/
.btn.active {
  background-color: #990000;
  color: white;
}