@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.data {
    display: none;
}


.nav-background {
    background-color: beige;
}

.hero-section {
    margin-top: 10rem;
}

.iu-logo {
    height: 60px;
    width: 50px;
}

.hide {
    display: none;
}

.title-text {
    font-size: 3rem;
}

.red-text {
    color: #990000;
}

.footer-bg {
    background-color: #990000;
    height: 2rem;
    color: white;
}


.login {
    background-color: transparent;
    border: solid #990000 2px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: #990000;
    height: 40px;
    width: 100px;
}

h1{
	text-align: center;
	color: #FFFDD0;
	
}
.float-container {
    padding: 20px;

}



.button {
  background-color: #FFFDD0;
  border: 2px solid black;
  color: #990000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
}

.center{
	margin:auto;
	width: 1%;
	background-color: #FFFDD0;
	border: 2px solid black;
	text-align: center;
	padding: 15px 32px;
	color: #990000;
	font-size: 50px;
  
}
	
	
.wrapper{
	background-color: #990000;
	text-align: center;
	padding: 10px;
	color: #FFFDD0;
	font-size: 17px;
	width: 1000px;
	margin: auto;
}

.Submit {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.php {
	margin: auto;
	font-size: 16px;
}
	
	
	
.login:hover {
    background-color: #990000;
    color: white;
    transition-duration: 500ms;
}

.nav-link:hover {
    color: black;
}

.footer-link {
    color: beige;
    text-decoration: none;
    margin-bottom: 1rem;
}

.footer-link:hover {
    color: black;
}

.user {
    cursor: pointer;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    margin-right: 1rem;
    margin-top: -.25rem;
}

.user-icon-img {
    width: 100%;
    border-radius: 25px;
}
